.imagenIndex{
    width: 550px;
   
}

.textoIndex{
    color:white;
    text-align: center;
    font-size: 25px;
    margin-bottom: 10%;

}

.indexMain{
    display:flex;
    justify-content: center;
    margin-top: 3%;
}